<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Grocery Mobile Companion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grocery Price Comparison App to find the best prices on daily items." />
	<meta name="google-site-verification" content="----------SEARCH CONSOLE GOES HERE------------" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/style.css" />

	<link href="https://fonts.googleapis.com/css?family=Changa|Changa+One|Signika|Lato" rel="stylesheet">


</head>

<body>
	<div class="CLW-container-main">
		<header>
			<div class="CLW-top">
				<a href="index.html"><img src="images/grocery-mobile-logo-horz.png" alt="" class="mainlogo"></a>
			</div>
			<h1>About Grocery Companion</h1>
		</header>
		<section role="main">
			<div class="maindescription">
				<p>
					Grocery Companion makes it easey for you to keep track of the prices of your most commonly purchased items from your favorite stores!
				</p>
				<h2>Using the app</h2>
				<p>
					When you first sign up you will want to pick out your top 3 stores that you usually shop at. Click on the Shops button <span class="instructions-button"><img src="images/icons/icon-shop-white.png" alt="New Store Button"></span> and choose your 3 primary
					stores. You can also go here at any time to make changes to your stores if you would prefer to use a different store in your top 3.
				</p>
				<p>
					The next thing you will want to do is start adding your most common products that you typically buy by clicking the "Products" button <span class="instructions-button"><img src="images/icons/icon-apple-white.png" alt="new product button"></span> If
					you don't know the prices right away, you can always add them later while your at the store or looking at this weeks flyers or ads.
				</p>
				<p>
					Once you have a few of your items in your dataabase you can start adding them to your shopping list by clicking on the list button <span class="instructions-button"><img src="images/icons/icon-list-white.png" alt="List button"></span>.
				</p>
				<h2>Using your list</h2>
				<p>
					From your list view, use the drop down to find any items that are already available to add, simply click on the check button <span class="instructions-button"><img src="images/icons/icon-check-white.png" alt="check button"></span> and they will be added.  If you don't have the item available that you want to add, simply click the NEW+ button <span class="instructions-button"><img src="images/icons/icon-new-white.png" alt="check button"></span> around
					you will be taken to the add product page right away.  If you choose a product but the prices are wrong, simply click the green pencil edit button <span><img src="images/icons/icon-edit-pencil-clear.png" height="20px" alt="check button"></span> and you will be taken to that products page where you can update the prices.
				</p>
			</div>
		</section>
		<section class="bottomnav">
			<div class="CLW-bottom">
				<div class="CLW-bar">
					<div class="menubutton"><a href="about.html" class="CLW-button"><img src="images/icons/icon-house-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="list.html" class="CLW-button"><img src="images/icons/icon-list-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="product-add.html" class="CLW-button"><img src="images/icons/icon-apple-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="store-add.html" class="CLW-button"><img src="images/icons/icon-shop-white.png" alt="Home Icons"></a></div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/libs/jquery-3.3.1.min.js">\x3C/script>')
	</script>
	<script src="js/script.js"></script>

</body>

</html>
