<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Grocery Mobile Companion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grocery Price Comparison App to find the best prices on daily items." />
	<meta name="google-site-verification" content="----------SEARCH CONSOLE GOES HERE------------" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/style.css" />

	<link href="https://fonts.googleapis.com/css?family=Changa|Changa+One|Signika|Lato" rel="stylesheet">


</head>

<body>
	<div class="CLW-container-main">
		<header>
			<div class="CLW-top">
				<a href="index.html"><img src="images/grocery-mobile-logo-horz.png" alt="" class="mainlogo"></a>
			</div>
			<div class="CLW-title">Forgot your password</div>
		</header>
		<section role="list-form-row">
			<div class="form-submit">
				<form action="/action_page.php">
					<select name="Groceries">
						<option value="Spinach">Spinach</option>
						<option value="Chicken Breast">Chicken Breast</option>
						<option value="Diet Mountain Dew">Diet Mountain Dew</option>
						<option value="Green Peppers">Green Peppers</option>
						<option value="Mushrooms">Mushrooms</option>
						<option value="Onions - Red">Onions - Red</option>
						<option value="Eggs">Eggs</option>
						<option value="Ground Beef">Ground Beef</option>
					</select>
					<input type="submit" value='&#x2714;'>
				</form>
				<button class="addstore">NEW+</button>
			</div>

		</section>
		<section class="bottomnav">
			<div class="CLW-bottom">
				<div class="CLW-bar">
					<div class="menubutton"><a href="about.html" class="CLW-button"><img src="images/icons/icon-house-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="list.html" class="CLW-button"><img src="images/icons/icon-list-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="product-add.html" class="CLW-button"><img src="images/icons/icon-apple-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="store-add.html" class="CLW-button"><img src="images/icons/icon-shop-white.png" alt="Home Icons"></a></div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/libs/jquery-3.3.1.min.js">\x3C/script>')
	</script>
	<script src="js/script.js"></script>

</body>

</html>
