<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Grocery Mobile Companion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grocery Price Comparison App to find the best prices on daily items." />
	<meta name="google-site-verification" content="----------SEARCH CONSOLE GOES HERE------------" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/style.css" />

	<link href="https://fonts.googleapis.com/css?family=Changa|Changa+One|Signika|Lato" rel="stylesheet">


</head>

<body>
	<div class="CLW-container-main">
		<header>
			<div class="CLW-top">
				<a href="index.html"><img src="images/grocery-mobile-logo-horz.png" alt="" class="mainlogo"></a>
			</div>
			<div class="CLW-title">My Grocery List</div>
		</header>
		<section role="list-form-row">
			<div class="add-prod-form-submit">
				<div class="addproductselect">
					<form action="#">
						<select name="Groceries">
							<option value="Spinach">Spinach</option>
							<option value="Chicken Breast">Chicken Breast</option>
							<option value="Diet Mountain Dew">Diet Mountain Dew</option>
							<option value="Green Peppers">Green Peppers</option>
							<option value="Mushrooms">Mushrooms</option>
							<option value="Onions - Red">Onions - Red</option>
							<option value="Eggs">Eggs</option>
							<option value="Ground Beef">Ground Beef</option>
						</select>
						<input type="submit" value="✔">
					</form>
				</div>
				<button class="addstore">NEW+</button>
			</div>
		</section>
		<section class="storerow">
			<div class="storelogo">
				<img src="images/icons/grocery/icon-grocery-wholefoods.jpg" alt="">
			</div>
			<div class="storelogo">
				<img src="images/icons/grocery/icon-grocery-walmart.jpg" alt="">
			</div>
			<div class="storelogo">
				<img src="images/icons/grocery/icon-grocery-vons.jpg" alt="">
			</div>
			<div class="storeEnd"></div>
		</section>
		<section class="results">
			<div class="result-row">
				<div class="checkboxes">
					<div class="checkedoff">
						<form action="#" method="get">
							<input type="checkbox" name="prodchecked">
						</form>
					</div>
					<div class="deleterow">
						<img src="images/icons/icon-delete.png" alt="">
					</div>

				</div>
				<div class="productdescription">
					<div class="productname">Chicken Breast</div>
					<div class="productsize">per lb</div>
				</div>
				<div class="price">$2.99</div>
				<div class="price">$1.99</div>
				<div class="price">$1.49</div>
				<div class="storeEnd"><a href="product-edit.html"><img src="images\icons\icon-edit-pencil-clear.png" width="20px"></a></div>
			</div>
			<div class="result-row">
				<div class="checkboxes">
					<div class="checkedoff">
						<form action="#" method="get">
							<input type="checkbox" name="prodchecked">
						</form>
					</div>
					<div class="deleterow">
						<img src="images/icons/icon-delete.png" alt="">
					</div>

				</div>
				<div class="productdescription">
					<div class="productname">Avacados</div>
					<div class="productsize">per ea</div>
				</div>
				<div class="price">$1.99</div>
				<div class="price">$.99</div>
				<div class="price">$1.79</div>
				<div class="storeEnd"><a href="product-edit.html"><img src="images\icons\icon-edit-pencil-clear.png" width="20px"></a></div>
			</div>
			<div class="result-row">
				<div class="checkboxes">
					<div class="checkedoff">
						<form action="#" method="get">
							<input type="checkbox" name="prodchecked">
						</form>
					</div>
					<div class="deleterow">
						<img src="images/icons/icon-delete.png" alt="">
					</div>

				</div>
				<div class="productdescription">
					<div class="productname">eggs</div>
					<div class="productsize">per dozen</div>
				</div>
				<div class="price">$2.49</div>
				<div class="price">$1.99</div>
				<div class="price">$2.49</div>
				<div class="storeEnd"><a href="product-edit.html"><img src="images\icons\icon-edit-pencil-clear.png" width="20px"></a></div>
			</div>
			<div class="result-row">
				<div class="checkboxes">
					<div class="checkedoff">
						<form action="#" method="get">
							<input type="checkbox" name="prodchecked">
						</form>
					</div>
					<div class="deleterow">
						<img src="images/icons/icon-delete.png" alt="">
					</div>

				</div>

				<div class="productdescription">
					<div class="productname">almonds</div>
					<div class="productsize">per package</div>
				</div>
				<div class="price">$12.49</div>
				<div class="price">$11.99</div>
				<div class="price">$9.99</div>
				<div class="storeEnd"><a href="product-edit.html"><img src="images\icons\icon-edit-pencil-clear.png" width="20px"></a></div>
			</div>
		</section>


		<div class="CLW-bottom">
			<div class="CLW-bar">
				<div class="menubutton"><a href="about.html" class="CLW-button"><img src="images/icons/icon-house-white.png" alt="Home Icons"></a></div>
				<div class="menubutton"><a href="list.html" class="CLW-button"><img src="images/icons/icon-list-white.png" alt="Home Icons"></a></div>
				<div class="menubutton"><a href="product-add.html" class="CLW-button"><img src="images/icons/icon-apple-white.png" alt="Home Icons"></a></div>
				<div class="menubutton"><a href="store-add.html" class="CLW-button"><img src="images/icons/icon-shop-white.png" alt="Home Icons"></a></div>
			</div>
		</div>
		<section role="" aria-labelledby="">

		</section>

		<footer>
		</footer>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/libs/jquery-3.3.1.min.js">\x3C/script>')
	</script>
	<script src="js/script.js"></script>

</body>

</html>
