<!DOCTYPE html>
<html lang="en-us">

<head>
	<title>Grocery Mobile Companion</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Grocery Price Comparison App to find the best prices on daily items." />
	<meta name="google-site-verification" content="----------SEARCH CONSOLE GOES HERE------------" />

	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/style.css" />

	<link href="https://fonts.googleapis.com/css?family=Changa|Changa+One|Signika|Lato" rel="stylesheet">


</head>

<body>
	<div class="CLW-container-main">
		<header>
			<div class="CLW-top">
				<a href="index.html"><img src="images/grocery-mobile-logo-horz.png" alt="" class="mainlogo"></a>
			</div>
			<h1>Edit your favorite stores</h1>
		</header>

		<section class="current-stores">

				<h2>Current Stores</h2>
				<div class="current-stores-row">

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-wholefoods.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Whole Foods
						</div>
						<div class="fav-store-add">
							<a href="#">remove</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-vons.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Vons
						</div>
						<div class="fav-store-add">
							<a href="#">remove</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-newstore.gif" alt="">
						</div>
						<div class="fav-store-name">
							choose a store from below
						</div>
					</div>
			</div>
		</section>


		<section class="available-stores">

				<h2>Available Stores</h2>
				<div class="available-stores-row">

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-albertsons.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Albertsons
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-costco.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Costco
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-jewelosco.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Jewel Osco
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-ralphs.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Ralphs
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-sprouts.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Sprouts
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-walmart.jpg" alt="">
						</div>
						<div class="fav-store-name">
							Walmart
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-meijer.png" alt="">
						</div>
						<div class="fav-store-name">
							Meijer
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-target.png" alt="">
						</div>
						<div class="fav-store-name">
							Target
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-safeway.png" alt="">
						</div>
						<div class="fav-store-name">
							Safeway
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-kroger.png" alt="">
						</div>
						<div class="fav-store-name">
							Kroger
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-7eleven.png" alt="">
						</div>
						<div class="fav-store-name">
							7 Eleven
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-publix.png" alt="">
						</div>
						<div class="fav-store-name">
							Publix
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-sams.png" alt="">
						</div>
						<div class="fav-store-name">
							Sam's Club
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-traderjoes.png" alt="">
						</div>
						<div class="fav-store-name">
							Trader Joes
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-wegmans.png" alt="">
						</div>
						<div class="fav-store-name">
							wegmans
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-winco.png" alt="">
						</div>
						<div class="fav-store-name">
							WinCo Foods
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-winndixie.png" alt="">
						</div>
						<div class="fav-store-name">
							Winn Dixie
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-foodlion.png" alt="">
						</div>
						<div class="fav-store-name">
							Food Lion
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-storeblue.png" alt="">
						</div>
						<div class="fav-store-name">
							Local Store 1
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-storegreen.png" alt="">
						</div>
						<div class="fav-store-name">
							Local Store 2
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-storered.png" alt="">
						</div>
						<div class="fav-store-name">
							Local Store 3
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-storeorange.png" alt="">
						</div>
						<div class="fav-store-name">
							Local Store 4
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>
					<div class="fav-store">
						<div class="fav-store-img">
							<img src="images/icons/grocery/icon-grocery-storeyellow.png" alt="">
						</div>
						<div class="fav-store-name">
							Local Store 5
						</div>
						<div class="fav-store-add">
							<a href="#">add+</a>
						</div>
					</div>

			</div>
		</section>

		<section class="bottomnav">
			<div class="CLW-bottom">
				<div class="CLW-bar">
					<div class="menubutton"><a href="about.html" class="CLW-button"><img src="images/icons/icon-house-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="list.html" class="CLW-button"><img src="images/icons/icon-list-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="product-add.html" class="CLW-button"><img src="images/icons/icon-apple-white.png" alt="Home Icons"></a></div>
					<div class="menubutton"><a href="store-add.html" class="CLW-button"><img src="images/icons/icon-shop-white.png" alt="Home Icons"></a></div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="js/libs/jquery-3.3.1.min.js">\x3C/script>')
	</script>
	<script src="js/script.js"></script>

</body>

</html>
