/* ------------- ELEMENTS --------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden
}

body {
  margin: 0;
  font-family: 'Signika', sans-serif;
  background-color: #f1f0e7;
}

footer, header, main, section {
  display: block
}

img {
  border-style: none
}

a {
  color:#006600;
  font-size: .8em;
}

textarea {
  overflow: auto
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:800;
  font-size: 1.4em;
  margin:10px 10px;
  color:#920000;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight:800;
  font-size: 1.1em;
  margin:10px 10px;
  color:#920000;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight:800;
  font-size: 1.1em;
  margin:10px 0px 10px 0px;
  color:#920000;
}

p {
  margin:10px 10px 20px 20px;
  font-size: 1em;
  color:#5b5b5b;

}

/*  ------------ MENU BAR ROW ---------------------*/

.CLW-container-main {
  width:100%;
  height:100%;
}

.frontlogo {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.storerow {
  width:98%;
  display:flex;
  justify-content:flex-end;
  margin:auto;
}

.storelogo>img {
  margin-left: 1px;
  border: 2px solid #e3e3e3;
}

.checkbox {
  width:20px;
}

.price {
  padding:3px;
  margin: 1px 3px 1px 2px;
  width:60px;
  border-left: 2px solid #e3e3e3;
  color:red;
  font-size: 1.2em;
  font-weight: bold;
}

.storeEnd {
  width:20px;
}

.productdescription {
  flex: 1 1;
  color: #6e6e6e;
}

.result-row {
  width:98%;
  margin:auto;
  display:flex;
  background-color: #fff;
  -webkit-filter: drop-shadow(2px 2px 2px #c7c7c7);
  filter: drop-shadow(2px 2px 2px #c7c7c7);
  margin-bottom: 5px;
}

.productname {
  font-size: 1em;
  margin-left:5px;
}

.productsize {
  font-size: .8em;
  margin-bottom: 2px;
  margin-left:5px;
  font-weight: 400;
}

.CLW-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
}

.CLW-bar a img {
  height :32px;
  -webkit-filter: drop-shadow(2px 2px 2px #2d2727);
  filter: drop-shadow(2px 2px 2px #2d2727);
}

.CLW-bar {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.CLW-top {
  width: 100%;
  text-align: left;
  background-color: #006600;
}

.CLW-title {
  font-family: 'Lato', sans-serif;
  font-weight:800;
  font-size: 1.2em;
  margin:10px 10px;
  color:#920000;
}

/*------ edit stores -------- */

.current-stores-row {
  display:flex;
  justify-content: space-around;
}

.fav-store {
  text-align: center;
  margin: 5px;
  max-width: 60px;
}

.fav-store-name {
  font-size: .6em;
  font-weight:normal;
  color:#666;
  margin:-2px 0px 0px 0px;
}

.fav-store-add {
  font-size: .8em;
  font-weight:normal;
  color:#666;
  margin:-5px 0px 0px 0px;
}

.available-stores-row {
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  margin:5px;
}



/*------ end edit stores -------- */

.add-prod-form-submit {
  width:98%;
  margin-bottom: 10px;
  display:flex;
  justify-content:flex-end;
}

.addproductselect {
  width:100%;
  text-align: right;
}

.add-prod-form-submit select {
    padding: 10px 10px;
    width:80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:#333;
    vertical-align: bottom;
}

.add-prod-form-submit input[type=submit] {
    background-color: #006600;
    color: white;
    margin:0px 2px 0px 0px;
    height:40px;
    border: none;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    vertical-align: bottom;
}

form {
  display: inline;
}


section.add-a-product {
  display:flex;
  justify-content:center;
}

.editlabel {
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}


.add-a-prod-top {
}

.block-name {
  margin:0px 0px 20px 0px;
}

.block-select {
  margin:0px 0px 20px 0px;
  text-align: right;
}

.block-name input[type=text] {
    padding: 10px 10px;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:#333;
}

.block-select select {
    padding: 10px 10px;
    width:50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:#333;
}

.add-a-prod-pricing {
  margin-left: 10px;
}

.block-price {
  width:100%;
  display: flex;
  align-content: center;
}

.block-img {
  display:inline-block;
}

.block-img img{
  border: 1px solid #ccc;
}

.block-input-price{
  display:inline-block;
  width:100%;
  height:60px;
  margin-left: 5px;
}

.block-input-price input[type=text] {
    padding: 10px 10px;
    width:100%;
    height:60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color:red;
    font-size: 2em;
    text-align: right;
    font-weight: bold;

}

.add-a-prod-container {
  width:96%;
}

.submit-button {
  width:100%;
  text-align: right;
}

.submit-button input[type=submit] {
  width:50%;
  background-color: #006600;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}

.form-submit input[type=submit] {
    background-color: #006600;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

button {
  background-color: #006600;
  color: white;
  padding: 10px 10px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}




.CLW-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background-color: #006600;
}

.mainlogo {
  max-width: 463px;
  height: 50px;
  padding:5px 10px;
}

.instructions-button {
  background-color: #006600;
  display:inline-block;
}

.instructions-button img {
  height:24px;
  margin:1px 2px 0px 2px;
}

/*-------------------- IMAGE CLASSES ----------------------*/

.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {background-image: url("../images/photos/bg-bag.jpg")}
/* .bgimg {background-image: url("../images/photos/bg-index.jpg")} */
.bgimg2 {background-image: url("../images/photos/bg-groceries.jpg")}

.logo {
  -webkit-filter: drop-shadow(3px 3px 3px #494848);
  filter: drop-shadow(3px 3px 3px #494848);
  max-width: 80%;
  margin-top: 35px;
}


/*--------------------------SIGN IN FORM -------------------------*/

.form-holder .form-content {
    position: fixed;
    text-align: center;
    bottom:75px;
    width:100%;
}

.form-content .form-items {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    -webkit-filter: drop-shadow(1px 1px 1px #2d2727);
    filter: drop-shadow(1px 1px 1px #2d2727);
    padding: 10px;
}

.tagline {
    color: #fff;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,.6);
}

.form-content .page-links {
    margin-bottom: 18px;
}

.form-content .page-links a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-filter: drop-shadow(1px 1px 1px #2d2727);
    filter: drop-shadow(1px 1px 1px #2d2727);
}

.form-content .page-links a.active {
    font-weight: 700;
}

.form-content input {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 14px;
}

.ibtn {
    border-radius: 6px;
    border: 0;
    padding: 6px 28px;
    background-color: #920000;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.form-content .form-button a {
    font-size: 13px;
    font-weight: 600;
    color: #003d00;
}
